// Launch options: SDL_VIDEODRIVER=wayland,x11 %command% -console -novid -nojoy -nosteamcontroller -useforcedmparms -noforcemaccel -noforcemspd
// Fps Settings
// ----------------------------------------------------------------------------
#fps_max 80
cl_showfps 1

// Disable sprays
cl_spraydisable 1
r_spray_lifetime 0

//viewmodel_fov 125
//fov_desired 90

tf_medigun_autoheal 1
